body {
    font-family:cursive;
    background: url('./poe.jpg') no-repeat center center fixed; 
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
}
.message {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}